body {
  margin: 0;
  padding: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-image: url("../img/background-texture.jpg");
  background-color: #f3f7f9;
}

.main-header a {
  color: #ffffff;
}

.top-menu {
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.header-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-form {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}

.header-form input[type="search"] {
  border: none;
  background-color: #293449;
}

.header-form input[type="search"]:hover,
.main-header-bookmark a:hover,
.main-header-bookmark a:focus,
.main-header-cart a:hover,
.main-header-cart a:focus {
  background-color: #212a3a;
}

.main-header-bookmark {
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.main-header-cart {
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.main-header-bookmark a:active,
.main-header-cart a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-form input[type="search"]::placeholder {
  color: #ffffff;
}

.header-form input[type="search"]:focus,
.header-form input[type="search"]:active {
  background-color: #ffffff
}

.main-header-order a{
  background-color: #63a63e;
}

.main-header-order a:hover,
.main-header-order a:focus {
  background-color: #5fbb2d;
}

.main-header-order a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #518534;
}

.main-header-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts-phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-contacts-phone a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-login,
.header-registration {
  background-color: #ffffff;

  list-style: none;
}

.header-login {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.header-login a,
.header-registration a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-login a:hover,
.header-login a:focus,
.header-registration a:hover,
.header-registration a:focus {
  color: #ee3643;
}

.header-login a:active,
.header-registration a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a {
  background-color: #32425c;
}

.main-navigation li{
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.offering-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.offering-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.offering-link:hover,
.offering-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offering-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offering-materials {
  background-color: #ffbf47;
}

.offering-instruments {
  background-color: #3bbce3;
}

.offering-technic {
  background-color: #dc91d8;
}

.offering-sale {
  background-color: #8ed78f;
}

.offering-delivery {
  background-color: #ffc047;
}

.offering-slider .slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.offering-slider .slider-1 b {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.offering-slider .slider-2 b {
  font-size: 18px;
  line-height: 24px;
}

.offering .offering-btn-open {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.offering .offering-btn-open:hover,
.offering .offering-btn-open:focus {
  background-color: #ca2c37;
}

.offering .offering-btn-open:active {
  background-color: #ba2732;
}

.popular-product-header {
  background-color: #f9f5f0;
}

.popular-product-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}

.popular-product-header a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.popular-product-header a:hover,
.popular-product-header a:focus {
  background-color: #ca2c37;
}

.popular-product-header a:active {
  background-color: #ba2732;
}

.popular-product li h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.popular-product li del {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  font-weight: 700;
}

.popular-product li ins {
  text-decoration: none;
}

.popular-product li a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;

  background-color: #ee3643;
}

.popular-product a:hover,
.popular-product a:focus {
  background-color: #ca2c37;
}

.popular-product a:active {
  background-color: #ba2732;
}

.popular-brand-header {
  background-color: #f9f5f0;
}

.popular-brand-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
}

.popular-brand-header a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.popular-brand-header a:hover,
.popular-brand-header a:focus {
  background-color: #ca2c37;
}

.popular-brand-header a:active {
  background-color: #ba2732;
}

.service {
  background-image: url("../img/background-texture.jpg");
  background-color: #f3f8f9;
}

.service-header h2,
.description-company h2,
.description-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.service p,
.description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}

.list-service  {
  list-style: none;
}

.list-service a {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.list-service a:hover {
  background-color: #293449;
}

.description-company ul {
  list-style: none;
}

.description-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.description a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.description a:hover,
.description a:focus {
  background-color: #ca2c37;
}

.description a:active {
  background-color: #ba2732;
}

.main-footer-top {
  background-color: #32425c;
}

.main-footer-logo {
  font-size: 30px;
  line-height: 30px;

  background-color: #ee3643;
}

.footer-navigation-section,
.footer-navigation-catalog {
  list-style: none;
}

.footer-navigation-section a,
.footer-contacts,
.footer-contacts a,
.footer-navigation-catalog a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  font-weight: 400;
}

.footer-navigation-catalog a {
  color: #ffd180;
}

.footer-navigation-section a:hover,
.footer-navigation-section a:focus,
.footer-navigation-catalog a:hover,
.footer-navigation-catalog a:focus,
.main-footer-bottom a:hover,
.main-footer-bottom a:focus {
  text-decoration: underline;
}

.footer-navigation-section a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-navigation-catalog a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer-bottom {
  font-size: 16px;
  line-height: normal: 18px;

  background-color: #293449;
}

.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-bottom a:active {
  color: #ee3643;
}

.footer-social ul {
  font-size: 0;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-write-us button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  border: none;
  background-color: #ee3643;
}

.modal-write-us button:hover,
.modal-write-us button:focus {
  background-color: #ca2c37;
}

.modal-write-us button:active {
  background-color: #ba2732;
}
